* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(42, 0, 119);
}

.stars{

    
}

.Luna{   
display: flex;
flex-direction: row;
justify-content: flex-end;
flex-wrap: nowrap;
width: 100% ;
height: 200px;   
}
.image{

}
.image_2{
width: 60px;
height: 60px;

}
