*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
}
.container{
    position: relative;
    width: 100%;
    transform: rotate(0deg);
    transition: transform ease-in-out 2s;
}
.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0004);
}
.pulse {
    position: relative;
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 30%;
    background: #f503f5;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(244, 3 , 232, 0.4);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.5); 
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}






